@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn-gradient {
  /* background: linear-gradient(45deg, #08986b 0%, #9b0cb4 100%); */
  background: linear-gradient(194deg, #08986b 38.51%, #9b0cb4 144.42%);
  border-radius: 10px;
  /* border-radius: 0.5rem; */
  width: 100%;
  font-weight: 600;
  color: #ffffff !important;
  border: none;
  outline: 0;
  transition: all 0.5s;
}
.completeTask {
  background: linear-gradient(194deg, #08986b 38.51%, #9b0cb4 144.42%);
  border-radius: 1rem;
  margin: 1rem;
  display: inline-block;
}

.btn-gradient:hover {
  cursor: pointer;
  transform: scale(110%);
}

.btn-gradient-dark {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#084498),
    to(#9b0cb4)
  );
  background: linear-gradient(180deg, #084498 0%, #9b0cb4 100%);
  border-radius: 0.5rem;
  width: 100%;
  font-weight: 600;
  color: #ffffff !important;
  border: none;
  outline: 0;
  transition: all 0.5s;
}

.btn-gradient-dark:hover {
  cursor: pointer;
  transform: scale(110%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(../img/bg.png); */
  /* filter: blur(54.3656px);
  transform: matrix(1, 0, 0, -1, 0, 0); */
  /* background: linear-gradient(
    45deg,
    #774aae 0%,
    #761589 15%,
    #4f145f 30%,
    #361444 50%,
    #12131d 77%,
    #12131d 98%
  ); */
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
.bgImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(../img/bg.png);
}
h1 {
  background-color: #08986b;
  background-image: linear-gradient(45deg, #08986b 0%, #9b0cb4 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
span {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.main__view {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.soon-text {
  font-size: 13px;
  font-weight: 300;
}
.side__nav {
  position: fixed;
  height: 80vh;
  padding: 5rem 6rem;
  right: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* .side__nav .nav__link .noSelectd {
  display: none;
} */
/* .side__nav .nav__link .active .noSelectd {
  display: none;
} */
.side__nav .nav__link {
  background-image: url(../img/noSelectd.png);
  width: 45px;
  height: 31px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.side__nav .nav__link.active {
  background-image: url(../img/navlink.svg) !important;
}
.slider__section {
  position: relative;
}
.hero-section-sub-heading {
  left: 50%;
  bottom: 8vh;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}
/* .side__nav .nav__link:hover {
  cursor: pointer;
}

.side__nav .nav__link img {
  -webkit-filter: none;
  filter: none;
}

.side__nav .nav__link:focus img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
} */

.slider__section .slider__content h2 {
  color: #ffffff;
  font-size: 8rem;
  margin-left: 1rem;
  font-weight: 700;
}

.slider__section .slider__content img {
  width: auto;
  height: 250px;
}

.about__section .about__content p {
  font-size: 2rem;
}

.BUSD__color {
  font-size: 2rem;
  color: #f1be13 !important;
}

.advantage__table {
  padding: 20px 20px;
}

.advantage__section .advantage__table {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
}

.advantage__section .advantage__table table {
  color: #ffffff;
}

.advantage__section .advantage__table table thead tr th {
  font-size: 1.1rem !important;
}

.advantage__section .advantage__table table tbody tr td:first-child {
  font-size: 1rem;
  font-weight: 600;
  width: 25%;
  padding-right: 40px;
}

.advantage__section .advantage__content h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}
.down-fall {
  color: red !important;
}
.buy__section h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}

.buy__section .card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 345px;
}

.buy__section .card h5 {
  font-size: 0.9rem;
}

.buy__section .card img {
  margin-bottom: 1.2rem;
  height: 100px;
  object-fit: scale-down;
}

.buy__section .card p {
  font-weight: normal;
  font-size: 0.8rem;
  margin: 15px 0px 15px 0px;
}
.Documents-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-yield {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.next-move-give {
  display: inline-grid;
  text-align: left;
}

.next-move-give a {
  margin-bottom: 10px;
  color: #08986b;
  text-decoration: none;
  font-size: 1rem;
}

.documents__section h2 {
  font-size: 5rem;
  color: #08986b;
  font-weight: 800;
}
.documents__section div a {
  text-decoration: none;
  cursor: pointer;
}

.documents__section .card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.documents__section .card h5 {
  text-transform: uppercase;
  font-size: 15px;
}

.documents__section .card img {
  margin-bottom: 1rem;
  max-height: 80px;
  width: 80px;
  object-fit: scale-down;
}

.documents__section .card .btn__link {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.documents__section .card .btn__link i {
  font-size: 15px;
  color: lightgrey;
}

.earning__section .earning__content h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}

.earning__section .earning__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.earning__section .earning__content ul li {
  margin-top: 1rem;
  justify-content: space-between;
}

.left-border-line {
  background: linear-gradient(
    180deg,
    rgba(21, 141, 114, 0.0001) 0%,
    rgba(21, 141, 114, 0.498428) 48.9%,
    rgba(21, 141, 114, 0.0001) 100%
  );
  width: 10px;
  height: auto;
}

.earning__section .earning__content ul li p {
  font-size: 1.2rem;
  width: calc(100% - 20px);
}

.earning__section .earning__content ul li p span {
  color: #08986b;
  font-weight: 800;
  font-size: 1.2rem;
}

.nft-collection-btns {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nft__section h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}

.nft__section ul {
  color: #ffffff;
  list-style-image: url("../img/bullet1.png");
  list-style-type: none;
  background-position: 0 0;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  list-style-position: outside;
}

.nft__section ul li {
  line-height: 36px;
}

.nft__section ul li::marker {
  font-size: 1rem;
}

.nft__section .btn__learn {
  border: 2px solid #efefef;
  color: #efefef;
  width: 48%;
}
.nft__section .btn__learn:hover {
  background: linear-gradient(194deg, #08986b 38.51%, #9b0cb4 144.42%);
  color: #efefef;
  border: none;
}

.nft__section .btn__collection {
  background: linear-gradient(194deg, #08986b 38.51%, #9b0cb4 144.42%);
  color: #efefef;
  border: none;
  width: 48%;
}

.nft__section .btn__collection:hover {
  color: #efefef;
  border: 2px solid #efefef;
  background: transparent;
}

.faqs__section h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}

.faqs__section .accordion__faq:hover {
  cursor: pointer;
}
.collapse.show ul li {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.mobileapp__section {
  position: relative;
  padding: 50px 0px;
}

.mobileapp__section h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}

.app-butns {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding-top: 10px;
  position: absolute;
  width: inherit;
  top: 24vh;
  z-index: 99;
}

.tooltip-qr-wrapper i {
  font-size: 100px;
}

.qrbtn {
  max-width: 40px;
  width: 40px;
  height: 40px;
  padding: 0px;
  /* background: linear-gradient(194deg, #08986b 38.51%, #9b0cb4 144.42%); */
  object-fit: scale-down;
}

.qrbtn img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 9;
}

.app-btn-box p {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}

.app-btn-box button {
  font-weight: 400;
}

.mobilApp {
  width: 100%;
  margin: 0 auto;
}

.mobilApp img {
  width: 100%;
  height: 100%;
}

.rewards__section .rewards__table {
  height: 10vh;
}

.rewards__section .rewards__table tr {
  background: rgba(255, 255, 255, 0.1);
  color: #08986b;
  font-weight: 700;
  border: none;
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 10px 15px;
  margin: 5px 0px;
}

.rewards__section .rewards__table tr td {
  border: none;
}

.rewards__section .rewards__table tr td span {
  color: #ffffff;
}

.rewards__section .rewards__content h2 {
  font-size: 4rem;
  color: #08986b;
  font-weight: 800;
}

.staking__section .staking__content .card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
  border: none;
}

.staking__section .staking__content .card img {
  margin-bottom: 1rem;
}

.staking__section .staking__content .card .card-text {
  font-size: 0.8rem;
}

.staking__section .staking__content h2 {
  font-size: 5rem;
  color: #08986b;
  font-weight: 600;
  padding: 15px 0px;
}

.staking__section .staking__content p {
  font-size: 1.2rem;
}

.pills__list {
  overflow: auto;
  white-space: nowrap;
}

.todo__pill {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  margin: 1rem;
  display: inline-block;
}

.todo__section ::-webkit-scrollbar {
  height: 0.5rem;
}

.todo__section ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #9b0cb4;
  box-shadow: inset 0 0 6px #9b0cb4;
  border-radius: 1rem;
}

.todo__section ::-webkit-scrollbar-thumb {
  background-color: #08986b;
  border-radius: 1rem;
}
.advantage__table__scroll {
  height: 480px;
  overflow-x: auto;
  white-space: nowrap;
}

.advantage__table__scroll::-webkit-scrollbar {
  height: 0.5rem;
  width: 10px;
}

.advantage__table__scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #9b0cb4;
  box-shadow: inset 0 0 6px #9b0cb4;
  border-radius: 1rem;
  width: 10px;
}

.advantage__table__scroll::-webkit-scrollbar-thumb {
  background-color: #08986b;
  border-radius: 1rem;
  width: 10px;
}

.advantage__section .advantage__table table {
  max-height: 480px;
  overflow: auto;
}
.advantage__section .advantage__table table::-webkit-scrollbar {
  height: 0.5rem;
}

.advantage__section .advantage__table table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #9b0cb4;
  box-shadow: inset 0 0 6px #9b0cb4;
  border-radius: 1rem;
}

.advantage__section .advantage__table table::-webkit-scrollbar-thumb {
  background-color: #08986b;
  border-radius: 1rem;
}

.todo__section h4 {
  color: #08986b;
  font-weight: 600;
  margin-top: 1.5rem;
}

.todo__section .todo__content h2 {
  font-size: 5rem;
  color: #08986b;
  font-weight: 800;
}

.todo__section .todo__content h4 {
  font-size: 2.5rem;
  color: #08986b;
  font-weight: 700;
}

.tokenomics__section .card {
  background: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  mix-blend-mode: normal;
  border-radius: 8.14111px;
  min-height: 200px;
}

.tokenomics__section .card img {
  width: 80px !important;
  height: 100px;
  margin-bottom: 1rem;
  object-fit: contain;
}
.tokenomics__section .card__content h5 {
  font-size: 15px;
}
.tokenomics__section .tokenomics__content h2 {
  font-size: 5rem;
  color: #08986b;
  font-weight: 800;
}

.tokenomics__section table {
  font-size: 1.2rem;
  line-height: 36px;
}

.tokenomics__section table tr {
  border: none !important;
  color: #ffffff;
}

.tokenomics__section table tr td:last-child {
  color: #08986b;
  font-weight: 600;
}

.tokenomics__table-subheading {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__section .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__section .footer__socials a {
  color: #ffffff;
  text-decoration: none;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.table-yield-box img {
  margin-right: 10px;
  width: 30px;
}
.table-yield-box {
  display: flex;
  align-items: end;
}

/* Dashboard */
.dash-logo-tab {
  top: 1vh;
  left: 3vh;
  cursor: pointer;
  margin: 20px auto;
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.yieldbox-dash-logo {
  z-index: 9;
}
.dash_view_tabs_row {
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.walletAddress_box {
  color: white;
  width: fit-content;
  margin-bottom: 0px;
}
.dashboard-wrapper {
  background-image: url(../img//bgdashboard.png),
    linear-gradient(131deg, #030303, #030303);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dashboard-sidebar {
  top: 0px;
  height: 100vh;
  position: fixed;
  padding: 100px 20px 20px 20px;
  mix-blend-mode: normal;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba(255, 255, 255, 0.1);
}
.dash-link {
  color: #a5a6bb;
  margin: 10px 0px;
  padding: 0.5rem 1rem;
  list-style-type: none;
  cursor: pointer;
}
.dashboard-sidebar .react-tabs__tab--selected {
  background: linear-gradient(160deg, #08986b3d 38.51%, #9b0cb463 144.42%);
  mix-blend-mode: normal;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}
.dash-link img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  object-fit: scale-down;
}
.dash-nav-links-wrapper {
  margin: 40px 0px;
  flex-direction: column;
}
.connect-yeild-btn {
  background: linear-gradient(157deg, #08986b 38.51%, #9b0cb4 144.42%);
  border-radius: 10px;
  /* border-radius: 0.5rem; */
  min-width: 139px;
  font-weight: 600;
  color: #ffffff !important;
  border: none;
  outline: 0;
}
.dashboard-content-main-wrapper {
  margin-left: 20%;
}
.dashboard-content-box-nav-wrapper {
  display: flex;
  margin: 20px 0px;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard-content-box-nav {
  width: 30%;
  display: flex;
  max-width: 30%;
  align-items: center;
}
.dashboard__socials {
  justify-content: space-evenly;
  display: flex;
  margin-right: 60px;
}
.dashboard__socials a {
  color: white;
}
.dashboard-main-content {
  color: white;
  width: 100%;
}
.dashboard-main-content h2 {
  margin: 0px 40px 40px 40px;
}
.Dashboard-card-wrapper {
  justify-content: space-between;
}
.Dashboard-card p {
  font-size: 15px;
  font-weight: 300;
}
.Dashboard-card h5 {
  font-weight: 700;
}
.Dashboard-card {
  text-align: center;
  margin: 25px 0px;
  padding: 50px 50px;
  border-radius: 15px;
  width: 31%;
  background-color: rgba(255, 255, 255, 0.1);
}
.Dashboard-full-card {
  border-radius: 15px;
  padding: 20px 15px 30px 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* Dashboard */

/* Calculator */

.rebase-card:hover {
  background-color: #3c7774 !important;
}
.calculator-input-div {
  position: relative;
}
.calculator-input-div span {
  position: absolute;
  right: 10px;
  top: 5px;
}
.calculator-input-div input {
  width: 100%;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 2px;
  border: 1px solid white;
  background-color: transparent;
}
.calculator-input-div input::placeholder {
  color: white;
}
.calculator-input-div input:focus {
  outline: none;
}
.calculator-column {
  text-align: left;
}
.calculator-days-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator-days-row p {
  margin: 5px 0px;
  font-size: 15px;
  font-weight: 300;
}
/* Calculator */

/* Swap */
.swap-box {
  background: linear-gradient(160deg, #08986b3d 38.51%, #9b0cb463 144.42%);
  mix-blend-mode: normal;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
  color: white;
  width: 100%;
}
.swap-box-right {
  text-align: right;
}
.swap-box-2ndright {
  text-align: right;
  align-items: flex-end;
  justify-content: right;
  display: flex;
}
.swap-wallet-blance {
  font-weight: 400;
  font-size: 13px;
}
.swap-input {
  width: 100%;
  border: 0px;
  outline: 0px;
  color: white;
  font-size: 1.25rem;
  background-color: transparent;
}
.swap-input::placeholder {
  color: white;
}
.swap-modals svg path {
  fill: white;
}
.swap-modals svg {
  text-align: right;
  width: 20px;
  height: 20px;
}
.swap-action {
  align-items: center;
  justify-content: space-between;
}
.swap-action p {
  margin: 0px 5px 0px 0px;
}
.swap-action .connect-yeild-btn {
  padding: 6px 10px;
  /* width: 100%; */
}
.swap-modals {
  text-align: right;
}
.change-swap-arrow:hover {
  background: linear-gradient(157deg, #08986b 38.51%, #9b0cb4 144.42%);
}
.change-swap-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 20px auto;
  padding: 0px 10px;
  border-radius: 100%;
  background: linear-gradient(160deg, #08986b3d 38.51%, #9b0cb463 144.42%);
}
.swap-modals svg {
  margin: 0px 0px 0px 15px;
}
.change-swap-arrow svg {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
}
.swap-wallet-btn button {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  padding: 20px 0px;
}
.yeidl-buy-vs-swap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yeidl-buy-vs-swap button {
  width: 32%;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-evenly;
}
.yeidl-buy-vs-swap button svg {
  width: 34px;
  height: 24px;
}
.yeidl-buy-vs-swap .Exchan-geGraph-Svg svg {
  height: 20px;
}
.yeidl-buy-vs-swap .Exchan-geGraph-Svg svg path {
  fill: white;
}
.swap-summary p {
  text-align: center;
}
/* Swap */

/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 1440px) {
  .todo__section h4 {
    margin-top: 0px;
  }
  .side__nav {
    padding: 5rem 5rem;
  }
  .slider__section .slider__content h2 {
    font-size: 5rem;
  }
  .about__section .about__content p {
    font-size: 1.5rem;
  }
  .BUSD__color {
    font-size: 1.5rem;
    color: #f1be13 !important;
  }
  .staking__section .staking__content p {
    font-size: 1rem;
    max-width: 750px;
    margin: 0 auto;
  }
  h2 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
}
  .dashboard-content-main-wrapper {
    margin-left: 23.5%;
  }
  .side__nav {
    padding: 5rem 2rem 5rem 2rem;
  }
  .Dashboard-card {
    width: 48%;
    margin: 15px 0px;
    padding: 35px 35px;
    border-radius: 10px;
  }
  .dashboard-content-box-nav {
    width: 50%;
    max-width: 50%;
  }
  .dashboard-main-content h2 {
    margin-bottom: 40px;
    font-size: 30px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 960px) {
  .min-vh-100 {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .side__nav {
    padding: 5rem 0rem 5rem 0rem;
  }
  .slider__section .slider__content h2 {
    font-size: 6vmax;
  }
  .slider__section .slider__content img {
    width: 150px;
    height: 250px;
  }
  .about__section .about__content p {
    font-size: 1rem;
  }
  .BUSD__color {
    font-size: 1rem;
    color: #f1be13 !important;
  }
  .staking__section .staking__content h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .yield-column {
    margin: 0px 10px;
  }
  .rebase-count {
    font-size: 5rem;
    color: #08986b;
  }
  .responcive_sidebar_btn{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .crose_btn_dash_tabs{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  h2 {
    font-size: 2rem;
  }
  .responcive_sidebar_btn{
    display: block;
    z-index: 9;
  }
  .dash_view_tabs_row{
    display: block;
  }
  .dashboard-content-main-wrapper{
    margin: 0px auto;
  }
  .dashboard-wrapper .dashboard-sidebar {
    position: unset;
    height: fit-content;
    padding-top: 10vh;
  }
  .rebase-count {
    font-size: 2.5rem;
    color: #08986b;
  }
  .Dashboard-card {
    margin: 10px 0px;
    padding: 40px 40px;
  }
  .dashboard-content-box-nav {
    width: 100%;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .dashboard-sidebar {
    min-height: fit-content;
    max-height: fit-content;
    height: 100%;
    mix-blend-mode: normal;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px;
  }
  .dashboard__socials {
    margin-right: 0px;
  }
  .connect-yeild-btn {
    min-width: 90px;
    font-size: 14px;
  }
  .advantage__table {
    width: 85%;
    max-width: 85%;
    overflow: hidden;
    margin: 0 auto !important;
  }
  .Documents-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buy-yield {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Documents-row .mb-md-3.mb-sm-3.col-lg-2.col-md-4 {
    margin: 1px 8px;
  }
  .buy-yield .yield-column {
    width: 46%;
    max-width: 46%;
    margin: 5px 8px;
  }
  .buy__section .card p {
    font-size: 0.7rem !important;
  }
  .nft-collection-text-box {
    margin-bottom: 50px;
  }
  .nft__section .btn__learn {
    margin-right: 20px;
  }
  .buy__section-responcive {
    padding: 70px 0px;
  }
  .advantage__table {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 1.2rem !important;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem !important;
  }
  p,
  span {
    font-weight: 400;
    font-size: 0.8rem !important;
  }
  .container {
    min-height: auto !important;
    height: auto !important;
  }
  .row {
    width: auto !important;
  }
  .slider__section,
  .about__section,
  .advantage__section,
  .buy__section,
  .documents__section,
  .earning__section,
  .faqs__section,
  .mobileapp__section,
  .nft__section,
  .rewards__section,
  .staking__section,
  .todo__section,
  .tokenomics__section {
    min-height: 100vh !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .w-100 {
    width: auto !important;
  }
  .side__nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .tokenomics__table-subheading {
    text-align: center;
  }
  .tokenomics__section {
    padding: 50px 0px;
  }
  table tr td {
    font-size: 13px;
  }
  h5 {
    font-size: 13px !important;
  }
  .app-butns {
    position: unset;
    width: 100%;
    display: block;
  }
  .Dashboard-card {
    width: 100%;
    margin: 10px 0px;
    padding: 40px 40px;
  }
  .slider__section,
  .about__section,
  .advantage__section,
  .buy__section,
  .documents__section,
  .earning__section,
  .faqs__section,
  .mobileapp__section,
  .nft__section,
  .rewards__section,
  .staking__section,
  .todo__section,
  .tokenomics__section {
    min-height: 105vh !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bgImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../img/bgmobile.png);
  }
  .btn-gradient {
    background: linear-gradient(164deg, #08986b 38.51%, #9b0cb4 144.42%);
  }
  .slider__section .slider__content img {
    width: 100px;
    height: 100px;
  }
  .slider__section .slider__content h2 {
    font-size: 2rem !important;
    margin: 0px 0px 0px 20px;
  }
  .nft-collection-btns {
    width: 100%;
  }
  .documents__section .card {
    margin: 20px 0px;
  }
  .pills__list {
    width: 590px;
    margin: 0 auto;
  }
  .buy__section .card p {
    font-size: 0.6rem !important;
  }
  .buy__section .card h5 {
    font-size: 0.7rem !important;
  }
  .buy__section .card {
    min-height: 390px;
  }
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: flex;
    width: 550px;
    max-width: 550px;
    padding: 10px 40px 10px 20px;
  }
  .advantage__section .advantage__table table tbody tr td:first-child {
    padding-right: 20px;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .advantage__section .advantage__table table tbody tr td {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .advantage__section .advantage__table table thead tr th {
    font-size: 0.8rem !important;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .table-yield-box img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    object-fit: scale-down;
  }
  /* .advantage__table {
    padding: 10px 10px;
  } */
}

@media screen and (max-width: 425px) {
  .pills__list {
    width: 400px;
    margin: 0 auto;
  }
  .advantage__table {
    padding: 0px 0px;
  }
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: flex;
    width: 420px;
    max-width: 420px;
  }
}

@media screen and (max-width: 375px) {
  .pills__list {
    width: 370px;
    margin: 0 auto;
  }
  .advantage__table {
    padding: 0px 0px;
  }
  .buy-yield .yield-column {
    width: 100%;
    margin: 5px 8px;
  }
  .buy__section .card {
    min-height: auto;
  }
  .Documents-row {
    display: block;
    flex-wrap: nowrap;
  }
  #documents__section {
    padding: 50px 0px 40px 0px;
  }
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: flex;
    width: 350px;
    max-width: 350px;
  }
}
